* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 80%;
    background: rgba(200, 152, 241, 0.6); 
    padding: 35px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}

.container, h1, p {
    text-align: center;
}

input, textarea {

    border: 2px solid black;
    font-size: 16px;
    width: 80%;
    padding: 5px;
    margin: 4px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.btn {
    font-size: 15px;
    padding: 9px;
    border-radius: 5px;
    color: white;
    background-color: blueviolet;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 45px;
}

.bg {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}

.p2{
    color: goldenrod;
    font-size: 20px;
}